[Unit]
Description=klockan
After=network.target

[Service]
ExecStart=/usr/local/bin/klockan
User=nobody
Group=users
Restart=on-failure

[Install]
WantedBy=multi-user.target
